<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="miniproject.Properties.Settings.santoshConnectionString"
            connectionString="Data Source=DESKTOP-07IKVCJ\SQLEXPRESS;Initial Catalog=santosh;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>